{% extends 'base.html' %} {% block title %}管理用户{% endblock %} {% block beforehead %}
<script src="/static/js/manage/users.js"></script>
{% endblock %} {% block content %}

<div class="uk-width-1-1 uk-margin">
    <ul class="uk-breadcrumb">
        <li><a href="/manage/comments">评论</a></li>
        <li><a href="/manage/blogs">博客</a></li>
        <li class="uk-active">用户</li>
        <li><a href="/manage/atlas">图册</a></li>
    </ul>
</div>

<div id="app" class="uk-width-1-1 uk-margin">
    <table class="uk-table uk-table-striped">
        <thead>
            <tr>
                <th class="uk-width-2-5">名字</th>
                <th class="uk-width-2-5">电子邮件</th>
                <th class="uk-width-1-5">注册时间</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="user in users">
                <td>
                    <span v-text="user.name"></span>
                    <span v-if="user.admin" style="color: #d05"
                        ><i class="uk-icon-key"></i> 管理员</span
                    >
                </td>
                <td>
                    <a :href="'mailto:'+user.email" v-text="user.email"></a>
                </td>
                <td>
                    <span v-text="user.created_at[1]"></span>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="uk-flex uk-width-1-1" id="page">
    <ul class="uk-pagination uk-flex-center uk-margin-medium-bottom uk-width-1-1">
        <li v-if="page.has_prev">
            <a :href="'?page='+page.prev_num"><span uk-pagination-previous></span></a>
        </li>
        <li v-if="page.has_prev"><a :href="'?page='+page.prev_num" v-text="page.prev_num"></a></li>
        <li v-if="page.has_prev || page.has_next" class="uk-active"><span v-text="page.page"></span></li>
        <li v-if="page.has_next"><a :href="'?page='+page.next_num" v-text="page.next_num"></a></li>
        <li v-if="page.has_next">
            <a :href="'?page='+page.next_num"><span uk-pagination-next></span></a>
        </li>
    </ul>
</div>
{% endblock %}
