{% extends 'base.html' %} {% block title %}管理图册{% endblock %} {% block beforehead %}
<script src="/static/js/manage/atlas.js"></script>
{% endblock %} {% block content %}

<div class="uk-width-1-1 uk-margin">
    <ul class="uk-breadcrumb">
        <li><a href="/manage/comments">评论</a></li>
        <li><a href="/manage/blogs">博客</a></li>
        <li><a href="/manage/users">用户</a></li>
        <li class="uk-active">图册</li>
    </ul>
</div>

<div id="result"></div>
<div id="upload-file">
    <div class="js-upload" uk-form-custom>
        <form>
            <input id="upload" type="file" accept="image/*" multiple @change="loadimg" />
            <button class="uk-button uk-button-default uk-margin-small-bottom" type="button">
                上传
            </button>
        </form>
    </div>
    <form>
        <div class="uk-margin">
            <button class="uk-button uk-button-default" type="button" @click.prevent="submit">
                提交
            </button>
            <span class="uk-margin-small-left">
                <label><input class="uk-checkbox" type="checkbox" v-model="private" /> 私有图册</label>
            </span>
        </div>
    </form>
</div>

<div id="app" class="uk-width-1-1 uk-margin">
    <table class="uk-table uk-table-striped">
        <thead>
            <tr>
                <th class="uk-width-2-5">图片</th>
                <th class="uk-width-2-5">创建时间</th>
                <th class="uk-width-1-5">操作</th>
            </tr>
        </thead>
        <tbody>
                <tr v-for="i in images">
                    <td>
                        <img :data-src="i.url" width="50" uk-img />
                    </td>
                    <td>
                        <span v-text="i.created_at[1]"></span>
                    </td>
                    <td>
                        <a href="#" @click="delete_image(i)"><i uk-icon="trash"></i></a>
                        &nbsp;
                        <span v-if="i.private">
                            <a href="#" @click="re_private(i.name, false)">更为共有</a>
                        </span>
                        <span v-else>
                            <a href="#" @click="re_private(i.name, true)">更为私有</a>
                        </span>
                    </td>
                </tr>
        </tbody>
    </table>
</div>
<div class="uk-flex uk-width-1-1" id="page">
    <ul class="uk-pagination uk-flex-center uk-margin-medium-bottom uk-width-1-1">
        <li v-if="page.has_prev">
            <a :href="'?page='+page.prev_num"><span uk-pagination-previous></span></a>
        </li>
        <li v-if="page.has_prev"><a :href="'?page='+page.prev_num" v-text="page.prev_num"></a></li>
        <li v-if="page.has_prev || page.has_next" class="uk-active"><span v-text="page.page"></span></li>
        <li v-if="page.has_next"><a :href="'?page='+page.next_num" v-text="page.next_num"></a></li>
        <li v-if="page.has_next">
            <a :href="'?page='+page.next_num"><span uk-pagination-next></span></a>
        </li>
    </ul>
</div>
{% endblock %}