{% extends '__base__.html' %} {% block title %}图册{% endblock %} {% block navbar %}
<li><a href="/"> 首页</a></li>
<li class="uk-active"><a href="/atlas/public"> 图册</a></li>
<li><a href="/about"> 关于</a></li>
{% endblock %} {% block content %}
<div id="atlas" class="uk-text-center">
    {% for i in image %}
    <img data-src="{{ i.url }}" class="uk-width-medium" uk-img />
    {% else %}
    <h2>暂无内容。。。</h2>
    {% endfor %}
</div>
{% if image %}
<div class="uk-width-1-1 uk-flex">
    <ul class="uk-pagination uk-flex-center uk-width-1-1">
        <li>
            <a href="?page={{ page.page_index-1 }}"><span uk-pagination-previous></span></a>
        </li>
        {% for i in range(1, page.page_count+1) %} {% if i == page.page_index %}
        <li class="uk-active"><span>{{ i }}</span></li>
        {% elif i == 4 %}
        <li class="uk-disabled"><span>...</span></li>
        {% elif i > 4 %} {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %} {% endfor %}
        <li>
            <a href="?page={{ page.page_index+1 }}"><span uk-pagination-next></span></a>
        </li>
    </ul>
</div>
{% endif %} {% if user.admin %}
<div class="uk-align-center">
    <a href="/atlas/private" class="uk-button uk-button-primary uk-border-pill">私有图册</a>
</div>
{% endif %} {% endblock %}
