{% extends '__base__.html' %} {% block title %}管理博客{% endblock %} {% block
beforehead %}
<script>
    const { createApp } = Vue;
    function initApp(data) {
        createApp({
            data() {
                return {
                    blogs: data.blogs,
                    page: data.page
                }
            },
            methods: {
                    edit_blog: function (blog) {
                        location.assign('/manage/blogs/edit?id=' + blog.id);
                    },
                    delete_blog: function (blog) {
                        if (confirm('确认要删除“' + blog.name + '”？删除后不可恢复！')) {
                            $.post('/api/blogs/' + blog.id + '/delete', function (r) {
                                location.reload();
                            });
                        }
                    }
            }
        }).mount('#app');
    }
    $(function() {
        $.get('/api/blogs', {
            page: {{ page_index }}
        }, function (r) {
            initApp(r);
        });
    });
</script>
{% endblock %} {% block content %}

<div class="uk-width-1-1 uk-margin">
    <ul class="uk-breadcrumb">
        <li><a href="/manage/comments">评论</a></li>
        <li class="uk-active">博客</li>
        <li><a href="/manage/users">用户</a></li>
        <li><a href="/manage/atlas">图册</a></li>
    </ul>
</div>

<div id="app" class="uk-width-1-1 uk-margin">
    <a href="/manage/blogs/create" class="uk-button uk-button-primary"
        ><i uk-icon="plus"></i> 新博客</a
    >
    <table class="uk-table uk-table-striped">
        <thead>
            <tr>
                <th class="uk-width-1-2">标题 / 摘要</th>
                <th class="uk-width-1-5">作者</th>
                <th class="uk-width-1-5">创建时间</th>
                <th class="uk-width-1-10">操作</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="blog in blogs">
                <td>
                    <a
                        target="_blank"
                        :href="'/blogs/'+blog.id"
                        v-text="blog.name"
                    ></a>
                </td>
                <td>
                    <a
                        target="_blank"
                        :href="'/users/'+blog.user_id"
                        v-text="blog.user_name"
                    ></a>
                </td>
                <td>
                    <span v-text="blog.created_at[1]"></span>
                </td>
                <td>
                    <a href="#" @click="edit_blog(blog)"
                        ><i uk-icon="file-edit"></i
                    ></a>
                    <a href="#" @click="delete_blog(blog)"
                        ><i uk-icon="trash"></i
                    ></a>
                </td>
            </tr>
        </tbody>
    </table>
    {% if page.item_count != 0 %}
    <ul class="uk-pagination uk-flex-center">
        <li>
            <a href="?page={{ page.page_index-1 }}"
                ><span uk-pagination-previous></span
            ></a>
        </li>
        {% for i in range(1, page.page_count+1) %} {% if i == 3 %}
        <li class="uk-disabled"><span>...</span></li>
        {% elif i > 3 %} {% elif i == page.page_index %}
        <li class="uk-active"><span>{{ i }}</span></li>
        {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %} {% endfor %}
        <li>
            <a href="?page={{ page.page_index+1 }}"
                ><span uk-pagination-next></span
            ></a>
        </li>
    </ul>
    {% endif %}
</div>
{% endblock %}
