{% extends '__base__.html' %} {% block title %}管理图册{% endblock %} {% block beforehead %}
<script>
    $(function () {
        const { createApp } = Vue;
        createApp({
            data() {
                return {
                    name: "",
                    private: false,
                };
            },
            methods: {
                submit: function () {
                    if (!this.name) {
                        UIkit.notification({
                            message: "请输入名称！",
                            status: "danger",
                        });
                        return;
                    }
                    if (!document.getElementById("upload").files[0]) {
                        UIkit.notification({
                            message: "请上传文件！",
                            status: "danger",
                        });
                        return;
                    }
                    var file = document.getElementById("upload").files[0];
                    if (file.type.substring(0, 5) != "image") {
                        UIkit.notification({
                            message: "请上传图片！",
                            status: "danger",
                        });
                        return;
                    }
                    var reader = new FileReader();

                    var that = this;
                    reader.onload = function (e) {
                        var urlData = e.target.result.split(",")[1];

                        $.post(
                            "/api/atlas",
                            {
                                data: urlData,
                                name: that.name,
                                filetype: file.name.split(".")[file.name.split(".").length - 1],
                                private: that.private,
                            },
                            function (r) {
                                location.reload();
                            }
                        );
                    };
                    reader.readAsDataURL(file);
                },
                loadimg: function () {
                    var reader = new FileReader();
                    var file = document.getElementById("upload").files[0];
                    var that = this;
                    reader.onload = function (e) {
                        var urlData = e.target.result;
                        document.getElementById(
                            "result"
                        ).innerHTML = `<img data-src="${urlData}" width="300" uk-img>`;
                    };
                    reader.readAsDataURL(file);
                },
            },
        }).mount("#upload-file");
        createApp({
            data() {
                return {};
            },
            methods: {
                delete_image: function (i, u) {
                    if (confirm("确认要删除“" + i + "”？删除后不可恢复！")) {
                        $.post("/api/atlas/delete", { url: u }, function () {
                            location.reload();
                        });
                    }
                },
                re_private: function (name, boolean) {
                    $.post("/api/atlas/private", { name: name, private: boolean }, function (r) {
                        location.reload();
                    });
                },
                rename: function (name) {
                    var newname = prompt("请输入新的名称：");
                    if (name === newname) {
                        var newname = prompt("名称与当前名称相同，请重新输入：");
                    }
                    $.post("/api/atlas/rename", { name: name, newname: newname }, function (r) {
                        location.reload();
                    });
                },
            },
        }).mount("#app");
    });
</script>
{% endblock %} {% block content %}

<div class="uk-width-1-1 uk-margin">
    <ul class="uk-breadcrumb">
        <li><a href="/manage/comments">评论</a></li>
        <li><a href="/manage/blogs">博客</a></li>
        <li><a href="/manage/users">用户</a></li>
        <li class="uk-active">图册</li>
    </ul>
</div>

<div id="result"></div>
<div id="upload-file">
    <div class="js-upload" uk-form-custom>
        <form>
            <input id="upload" type="file" accept="image/*" multiple @change="loadimg" />
            <button class="uk-button uk-button-default uk-margin-small-bottom" type="button">
                上传
            </button>
        </form>
    </div>
    <form>
        <div class="uk-margin">
            <div class="uk-inline">
                <input v-model="name" type="text" placeholder="设置名称" class="uk-input" />
            </div>
            <button class="uk-button uk-button-default" type="button" @click.prevent="submit">
                提交
            </button>
            <span class="uk-margin-small-left">
                <label
                    ><input class="uk-checkbox" type="checkbox" v-model="private" /> 私有图册</label
                >
            </span>
        </div>
    </form>
</div>

<div id="app" class="uk-width-1-1 uk-margin">
    <table class="uk-table uk-table-striped">
        <thead>
            <tr>
                <th class="uk-width-1-5">名称</th>
                <th class="uk-width-1-2">缩略图</th>
                <th class="uk-width-1-5">创建时间</th>
                <th class="uk-width-1-10">操作</th>
            </tr>
        </thead>
        <tbody>
            {% for i in image %}
            <tr>
                <td>
                    <a target="_blank" href="{{ i.url }}"
                        >{{ i.name }}
                        <a @click="rename('{{ i.name }}')"><i uk-icon="file-edit"></i></a>
                    </a>
                </td>
                <td>
                    <img data-src="{{ i.url }}" width="50" uk-img />
                </td>
                <td>
                    <span>{{i.created_at|datetime}}</span>
                </td>
                <td>
                    <a href="#" @click="delete_image('{{ i.name }}', '{{ i.url }}')"
                        ><i uk-icon="trash"></i
                    ></a>
                    {% if i.private %}
                    <a href="#" @click="re_private('{{ i.name }}', false)">更为共有</a>
                    {% else %}
                    <a href="#" @click="re_private('{{ i.name }}', true)">更为私有</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if image %} {% if page.item_count != 0 %}
    <div class="uk-width-1-1 uk-flex">
        <ul class="uk-pagination uk-flex-center uk-width-1-1">
            <li>
                <a href="?page={{ page.page_index-1 }}"><span uk-pagination-previous></span></a>
            </li>
            {% for i in range(1, page.page_count+1) %} {% if i == 3 %}
            <li class="uk-disabled"><span>...</span></li>
            {% elif i > 3 %} {% elif i == page.page_index %}
            <li class="uk-active"><span>{{ i }}</span></li>
            {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %} {% endfor %}
            <li>
                <a href="?page={{ page.page_index+1 }}"><span uk-pagination-next></span></a>
            </li>
        </ul>
    </div>
    {% endif %} {% endif %}
</div>
{% endblock %}
