<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>注册 - 尹伟豪的官方网站</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.11.1/dist/css/uikit.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.11.1/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.11.1/dist/js/uikit-icons.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.45/dist/vue.global.prod.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script>
        function validateEmail(email) {
            var re = /^[a-z0-9\.\-\_]+\@[a-z0-9\-\_]+(\.[a-z0-9\-\_]+){1,4}$/;
            return re.test(email.toLowerCase());
        }
        function sleep(time){
            return new Promise((resolve) => setTimeout(resolve, time));
        }
        const { createApp } = Vue;
        $(function () {
            createApp({
                data() { 
                    return {
                        name: '',
                        email: '',
                        password1: '',
                        password2: '',
                        verification: ''
                    }
                },
                methods: {
                    submit: function () {
                        var that = this;
                        if (!this.verification) {
                            document.getElementById('error').innerHTML = `<div class="uk-alert-danger uk-animation-slide-top" uk-alert>
                        <a class="uk-alert-close" uk-close></a>
                        <p>请输入验证码</p>
                    </div>`;
                            return;
                        }
                        

                        $.post('get_verification', {email:this.email}, function (r) {
                        if (that.verification != r) {
                            document.getElementById('error').innerHTML = `<div class="uk-alert-danger uk-animation-slide-top" uk-alert>
                        <a class="uk-alert-close" uk-close></a>
                        <p>验证码错误</p>
                    </div>`;
                            that.register = false;
                            return;
                        }});
                        
                        
                        if (!this.name.trim()) {
                            document.getElementById('error').innerHTML = `<div class="uk-alert-danger uk-animation-slide-top" uk-alert>
                        <a class="uk-alert-close" uk-close></a>
                        <p>请输入名字</p>
                    </div>`;
                            return;
                        }

                        else if (!validateEmail(this.email.trim().toLowerCase())) {
                            document.getElementById('error').innerHTML = `<div class="uk-alert-danger uk-animation-slide-top" uk-alert>
                        <a class="uk-alert-close" uk-close></a>
                        <p>请输入正确的Email地址</p>
                    </div>`;
                            return;
                        }

                        else if (this.password1.length < 6) {
                            document.getElementById('error').innerHTML = `<div class="uk-alert-danger uk-animation-slide-top" uk-alert>
                        <a class="uk-alert-close" uk-close></a>
                        <p>密码长度至少为6个字符</p>
                    </div>`;
                            return;
                        }
                        else if (this.password1 !== this.password2) {
                            document.getElementById('error').innerHTML = `<div class="uk-alert-danger uk-animation-slide-top" uk-alert>
                        <a class="uk-alert-close" uk-close></a>
                        <p>两次输入的密码不一致</p>
                    </div>`;
                            return;
                        }



                        var email = this.email.trim().toLowerCase();
                        var name = this.name.trim();
                        $.ajaxSettings.async = false;
                        $.getJSON('/api/users', function(r) {
                        for (let x in r.users) {
                            if (that.email.trim().toLowerCase() === r.users[x].email) {
                                that.noregister = true;
                                break;
                            }
                        }
                            });
                            $.ajaxSettings.async = true;
                            if (this.noregister) {
                                document.getElementById('error').innerHTML = `<div class="uk-alert-danger uk-animation-slide-top" uk-alert>
                        <a class="uk-alert-close" uk-close></a>
                        <p>该用户已注册</p>
                    </div>`;
                                return;
                            }
                            $.post('/api/users', {
                            name: name,
                            email: email,
                            passwd: CryptoJS.SHA1(email + ':' + this.password1)
                                .toString()
                        }, function (r) {
                            location.assign('/');

                        });
                    
                    },
                    send: async function () {
                        if (!this.email) {
                            document.getElementById('error').innerHTML = `<div class="uk-alert-danger uk-animation-slide-top" uk-alert>
                        <a class="uk-alert-close" uk-close></a>
                        <p>请输入邮箱</p>
                    </div>`;
                                return;
                        }
                        $.post('/send_verification', {email: this.email});
                        document.getElementById('send').disabled='disabled';
                        document.getElementById('send').innerHTML='60秒后重发';
                        document.getElementById('verification').className='uk-inline uk-width-1-2';
                        for (let time = 60-1; time != -1; time--) {
                            await sleep(1000);
                            document.getElementById('send').innerHTML=`${time}秒后重发`;                            
                        }
                        document.getElementById('verification').className='uk-inline uk-width-2-3';
                        document.getElementById('send').disabled='';
                        document.getElementById('send').innerHTML='发送';
                    }
                }
                    
            }).mount('#app');
        });
    </script>
</head>


<body class="uk-background-muted">
    <div uk-height-viewport class="uk-section uk-section-small uk-flex uk-flex-middle uk-text-center"
        style="min-height: calc((100vh - 80px) - 0px);">
        <div class="uk-width-1-1">
            <div class="uk-container" style="max-width: 330px;">
                <i style="font-size:50px; color: #444;">yinwwwhao</i>
                <p class="uk-text-lead">注册</p>
                <form id="app" @submit.prevent="submit" method="post">
                    <div class="uk-margin">
                        <div class="uk-inline uk-width-1-1">
                            <span class="uk-form-icon" uk-icon="icon: user"></span>
                            <input v-model="name" class="uk-input" type="text" placeholder="用户名">
                        </div>
                    </div>
                    <div class="uk-margin">
                        <div class="uk-inline uk-width-1-1">
                            <span class="uk-form-icon" uk-icon="icon: mail"></span>
                            <input v-model="email" class="uk-input" type="text" placeholder="电子邮箱">
                        </div>
                    </div>
                    <div class="uk-margin">
                        <div class="uk-inline uk-width-1-1">
                            <span class="uk-form-icon" uk-icon="icon: lock"></span>
                            <input v-model="password1" class="uk-input" type="password" placeholder="密码">
                        </div>
                    </div>
                    <div class="uk-margin">
                        <div class="uk-inline uk-width-1-1">
                            <span class="uk-form-icon" uk-icon="icon: lock"></span>
                            <input v-model="password2" class="uk-input" type="password" placeholder="重复密码">
                    </div>
                    <div class="uk-margin">
                        <div class="uk-inline uk-width-2-3" id="verification">
                            <input v-model="verification" class="uk-input" type="text" placeholder="邮箱验证码">
                        </div>
                        <button class="uk-button uk-button-primary" @click.prevent="send" id="send">发送</button>
                    </div>
                    <button class="uk-button uk-button-primary uk-width-1-1">注册</button>
                    <div id="error"></div>
                    <p class="uk-margin-medium-top"><a href="/">尹伟豪的官方网站</a></p>
                    
                </form>
            </div>
        </div>

    </div>
        
</body>

</html>