{% extends 'base.html' %} {% block title %}{{ title }}{% endblock %} {% block navbar %}
<li class="uk-active"><a href="/"> 首页</a></li>
<li><a href="/atlas/public"> 图册</a></li>
<li><a href="/me"> 我的</a></li>
<li><a href="/about"> 关于</a></li>
{% endblock %} {% block content %}

<div class="uk-width-1-1 uk-width-2-3@s uk-first-column">
    {% for blog in blogs %}
    <article class="uk-article">
        <h2><a href="/blogs/{{ blog.id }}">{{ blog.name }}</a></h2>
        <p class="uk-article-meta">发表于{{ blog.created_at|datetime }}</p>
        <p>{{ blog.summary }}</p>
        <p>
            <a href="/blogs/{{ blog.id }}" style="text-decoration: none">继续阅读 <i class="uk-icon-link"
                    uk-icon="chevron-right"></i></a>
        </p>
    </article>
    <hr class="uk-article-divider" />

    {% else %}
    <h2>暂无内容。。。</h2>
    {% endfor %} {% if blogs %}
    <div class="uk-flex uk-width-1-1">
        <ul class="uk-pagination uk-flex-center uk-margin-medium-bottom uk-width-1-1">
            {% if tag %}
            <li>
                <a href="?page={{ page.prev_num }}&tag={{ tag }}"><span uk-pagination-previous></span></a>
            </li>
            {% else %}
            <li>
                <a href="?page={{ page.prev_num }}"><span uk-pagination-previous></span></a>
            </li>
            {% endif %} {% for i in range(1, page.pages+1) %} {% if i == 4 %}
            <li class="uk-disabled"><span>...</span></li>
            {% elif i > 4 %} {% elif i == page.page %}
            <li class="uk-active"><span>{{ i }}</span></li>
            {% elif tag %}
            <li><a href="?page={{ i }}&tag={{ tag }}">{{ i }}</a></li>
            {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %} {% endfor %} {% if tag %}
            <li>
                <a href="?page={{ page.next_num }}&tag={{ tag }}"><span uk-pagination-next></span></a>
            </li>
            {% else %}
            <li>
                <a href="?page={{ page.next_num }}"><span uk-pagination-next></span></a>
            </li>
            {% endif %}
        </ul>
    </div>
    {% endif %}
</div>
<div class="uk-width-1-1 uk-width-1-3@s">
    <div class="uk-card uk-card-default uk-card-hover">
        <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-auto">
                    <img class="uk-border-circle" width="50" height="50" src="/static/images/author.png" />
                </div>
                <div class="uk-width-expand">
                    <h3 class="uk-card-title uk-margin-remove-bottom">尹伟豪</h3>
                    <p class="uk-text-meta uk-margin-remove-top">非常帅</p>
                </div>
            </div>
            <div class="uk-card-body">
                <p>
                    除了帅以外没法形容，学霸一枚，整天除了学习就是学习（这个网站是怎么回事？）日常爱好吉他，电脑，素描。
                </p>
            </div>
            <div class="uk-card-footer">
                <a href="/about#author" class="uk-button uk-button-text">读到更多<span class="uk-margin-small-right uk-icon"
                        uk-icon="chevron-right"></span></a>
            </div>
        </div>
    </div>
    <div class="uk-card uk-card-body">
        <h3>标签</h3>
        <table class="uk-table uk-table-striped">
            <tbody>
                {% for tag in tags %}
                <tr>
                    <td align="left">
                        <i uk-icon="tag"></i><a href="?tag={{ tag.name }}" style="text-decoration: none">
                            {{ tag.name }}</a>
                    </td>
                    <td align="right">
                        <span class="uk-badge">{{ tag.int }}</span>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}